.marquee-container {
    height: 230px;
    /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
}

.marquee {
    position: absolute;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        top: 100%;
    }

    100% {
        top: -100%;
    }
}


.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #14b459 0%,
            #eadb07 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 50% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
    display: inline-block;
    font-size: 30px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

.font-face {
    font-family: 'SolaimanLipi';
    src: url('SolaimanLipi.eot');
    src: url('SolaimanLipi.woff') format('woff'),
        url('SolaimanLipi.ttf') format('truetype'),
        url('SolaimanLipi.svg#SolaimanLipiNormal') format('svg'),
        url('SolaimanLipi.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}