@media (min-width: 1024px) {
    .dropbtn {
        color: white;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(190, 32, 122);
        color: white;
        
    }


    .dropdown:hover .dropdown-content {
        display: block;

    }



    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}


#sidebar a.active {
    color: red;
    border-bottom: 2px solid red;
}