* {
    box-sizing: border-box
}

:root {
    --color-1: #186cb8;
    --color-2: #2a9a9f;
    --color-3: #16c650;
    --color-4: #e83611;
    --color-5: #f9002f;
}


.wrapper {
    background: #000;
    line-height: 1;
    min-height: 50%;
    display: grid;
    place-items: center;
    min-height: calc(100vh - 16px);
}

.typewrite {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: 700;

    /* width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content; */
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(175deg,
            var(--color-1) 19%,
            transparent 19%, transparent 20%,
            var(--color-2) 20%, var(--color-2) 39%,
            transparent 39%, transparent 40%,
            var(--color-3) 40%, var(--color-3) 59%,
            transparent 59%, transparent 60%,
            var(--color-4) 60%, var(--color-4) 79%,
            transparent 79%, transparent 80%,
            var(--color-5) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.container {
    padding: 1.5rem;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%, var(--color-1) .8%, transparent .8%),
        radial-gradient(circle at 5.5% 3%, var(--color-2) .45%, transparent .45%),
        radial-gradient(circle at 2.5% 3.5%, var(--color-3) .5%, transparent .5%),
        radial-gradient(circle at 4.5% 1.2%, var(--color-4) .25%, transparent .25%),

        radial-gradient(circle at 98% 98%, var(--color-1) .8%, transparent .8%),
        radial-gradient(circle at 95% 95%, var(--color-2) .45%, transparent .45%),
        radial-gradient(circle at 94.5% 97.5%, var(--color-3) .5%, transparent .5%),
        radial-gradient(circle at 98.5% 95.5%, var(--color-4) .25%, transparent .25%);


}

/* .imageContainer img {
    border-radius: 50%;
    width: 350px;
    height: 300px;
    background-color: #8a1ae0;
    border: 1px solid #8a1ae0;
} */
.glow-on-hover {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(17, 17, 17);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(63, 52, 65);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media only screen and (max-width: 600px) {
    .typewrite {
        font-size: 30px !important;
    }
}


.background {
    background: linear-gradient(90deg, rgba(105, 100, 204, 1) 0%, rgba(121, 54, 209, 1) 46%, rgba(200, 179, 232, 1) 99%);
}

.bg2 {
    background: linear-gradient(90deg, rgba(15, 152, 26, 1) 0%, rgba(92, 155, 65, 0.8913690476190477) 0%, rgba(47, 54, 170, 0.8913690476190477) 60%);
}

.bg4 {

    background: linear-gradient(90deg, rgba(87, 43, 128, 1) 0%, rgba(77, 39, 113, 0.8913690476190477) 0%, rgba(47, 170, 98, 0.8913690476190477) 58%);

}

.bg5 {
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 0.7793242296918768) 100%);
}

.bg6 {
    background: linear-gradient(90deg, rgba(15, 152, 26, 1) 0%, rgba(226, 74, 72, 0.8913690476190477) 0%, rgba(133, 29, 189, 0.8913690476190477) 68%);
}